/* LandingPage.css */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  padding: 0;
}
.featured-title {
  color: whitesmoke;
  font-weight: 700; /* Bold for prominence */
  font-size: 2.5rem; /* Large size for desktop */
  text-align: center; /* Centers the text */
  margin-top: 2rem; /* Adds some space above */
  margin-bottom: 1.5rem; /* Adds space below before projects start */
  text-transform: uppercase; /* Optional: Makes it look more like a section header */
  letter-spacing: 1px; /* Optional: Adds slight breathing room */
}

/* Mobile Responsive Adjustments */
@media screen and (max-width: 768px) {
  .featured-title {
    font-size: 1.8rem; /* Smaller size for mobile devices */
    font-weight: 600; /* Slightly less heavy on small screens */
    margin-top: 1.5rem;
  }
}
