* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.hero h1 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
}

.hero h1 span {
  color: #2ff4f4;
}

.hero button {
  background: #2ff4f4;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  transition: all 0.3s ease;
}

.hero button:hover {
  background: #2ff4f4;
  color: white;
}

.hero button:active {
  transform: scale(0.95);
}

textarea {
  width: 600px;
  height: 250px;
  background: #403d84;
  color: #fff;
  font-size: 15px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
}

textarea::placeholder {
  color: #ddd;
  font-size: 16px;
}

.row {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

select {
  flex: 1;
  color: #fff;
  background: #403d84;
  height: 50px;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  margin-top: 20px;
}
.selectVoice {
  flex: 1;
  color: #fff;
  background: #403d84;
  height: 50px;
  width: 10rem;
  padding: 0 20px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  margin-top: 20px;
}
